[Desktop Entry]
Type=Application
Exec=bash -c "latest_oem_kernel=$(ls /boot/vmlinuz-* | grep '6.5.0-10..-oem' | sort -V | tail -n1 | awk -F'/' '{print \$NF}' | sed 's/vmlinuz-//') && current_grub_kernel=$(grep '^GRUB_DEFAULT=' /etc/default/grub | sed -e 's/GRUB_DEFAULT=\"Advanced options for Ubuntu>Ubuntu, with Linux //g' -e 's/\"//g') && [ \"\${latest_oem_kernel}\" != \"\${current_grub_kernel}\" ] && zenity --text-info --html --width=300 --height=200 --title=\"Kernel Update Notification\" --filename=<(echo -e \"A newer OEM D kernel is available than what is set in GRUB. <a href='https://github.com/FrameworkComputer/linux-docs/blob/main/22.04-OEM-D.md'>Click here</a> to learn more.\")"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Kernel check
Name=Kernel check
Comment[en_US]=
Comment=
